Source: compiz
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Sean Finney <seanius@debian.org>, Cyril Brulebois <kibi@debian.org>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 9~),
               dh-translations,
               intltool,
               libtool,
               pkg-config,
               quilt (>= 0.40),
               libcairo2-dev,
               libdbus-glib-1-dev,
               libgl1-mesa-dev (>= 6.5.1) [!armhf !armel] | libgl-dev [!armhf !armel],
               libegl1-mesa-dev [armhf armel], libgles2-mesa-dev [armhf armel],
               libboost1.49-dev,
               libboost-serialization1.49-dev,
               libglib2.0-dev,
               libglibmm-2.4-dev,
               libgtk2.0-dev,
               libgtk-3-dev,
               libice-dev (>= 1:1.0.1), 
               libmetacity-dev (>= 1:2.30.3-0ubuntu3),
               libpango1.0-dev,
               libpng12-dev | libpng-dev,
               librsvg2-dev, 
               libsm-dev (>= 1:1.0.1),
               libwnck-dev,
               libx11-dev,
               libxcomposite-dev (>= 1:0.3-2),
               libxext-dev,
               libxdamage-dev (>=1:1.0.3),
               libxfixes-dev (>= 1:4.0.1),
               libxinerama-dev, 
               libxml-parser-perl,
               libxrandr-dev (>= 2:1.1.0.2),
               libxrender-dev (>= 1:0.9.1), 
               libxcursor-dev,
               libxml2-dev,
               libxslt1-dev,
               xsltproc,
               libstartup-notification0-dev (>= 0.7),
               x11proto-gl-dev (>= 1.4.8),
               libglu1-mesa-dev [!armhf !armel],
               libjpeg8-dev,
               libnotify-dev,
               libx11-xcb-dev,
               libprotobuf-dev,
               protobuf-compiler,
               python-all-dev,
               python-pyrex,
               gnome-control-center-dev,
               gsettings-desktop-schemas-dev,
Standards-Version: 3.9.3
Vcs-Bzr: https://code.launchpad.net/+branch/ubuntu/compiz

Package: compiz
Architecture: any
Essential: yes
Provides: x-window-manager, compiz-core-abiversion-${coreabiversion}, ${python:Provides}
XB-Python-Version: ${python:Versions}
Depends: gsettings-desktop-schemas,
#         gnome-settings-daemon (>= 3.4.0),
         python-gtk2,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends},
         python-gconf,
Recommends: python-gconf
Conflicts: libdecoration0, compiz-gnome, compiz-core, compiz-plugins, compiz-kde, compiz-plugins-extra, compiz-plugins-main, compiz-plugins-main-default, compizconfig-backend-gconf, python-compizconfig, compizconfig-settings-manager
Breaks: compiz-plugins-main (<= 1:0.9.8),
        compiz-plugins-extra (<< 1:0.9.8),
        compiz-plugins-main-default (<= 1:0.9.8),
        compizconfig-backend-gconf (<= 1:0.9.8),
Description: OpenGL window and compositing manager
 Compiz brings to life a variety of visual effects that make the Linux desktop
 easier to use, more powerful and intuitive, and more accessible for users
 with special needs.
 .
 Compiz combines together a window manager and a composite manager using
 OpenGL for rendering. A "window manager" allows the manipulation of the
 multiple applications and dialog windows that are presented on the screen. A
 "composite manager" allows windows and other graphics to be combined together
 to create composite images. Compiz achieves its stunning effects by doing
 both of these functions.

Package: compiz-dev
Architecture: any
Depends: compiz (= ${binary:Version}),
         ${misc:Depends},
         libgl1-mesa-dev [!armhf !armel] | libgl-dev [!armhf !armel],
         libegl1-mesa-dev [armhf armel],
         libgles2-mesa-dev [armhf armel],
         libpng-dev,
         libxcomposite-dev (>= 1:0.3-2),
         libxfixes-dev (>=1:4.0.1),
         libxdamage-dev (>= 1:1.0.3),
         libxinerama-dev,
         libxrandr-dev (>=2:1.1.0.2),
         libxcursor-dev,
         libice-dev (>= 1:1.0.1),
         libsm-dev (>= 1:1.0.1),
         libstartup-notification0-dev (>= 0.7),
         libxslt1-dev,
         libxml2-dev,
         libx11-xcb-dev,
         libx11-dev,
         libglib2.0-dev,
         libglibmm-2.4-dev,
         libgtk-3-dev,
         libxrender-dev (>= 1:0.9.1),
Replaces: compiz-plugins-main-dev (<< 1:0.9.8),
          compiz-plugins-extra (<< 1:0.9.8),
          compiz-dev (<< 1:0.9.8),
Breaks: compiz-plugins-main-dev (<< 1:0.9.8),
        compiz-plugins-extra (<< 1:0.9.8),
Description: OpenGL window and compositing manager - development files
 Compiz brings to life a variety of visual effects that make the Linux desktop
 easier to use, more powerful and intuitive, and more accessible for users
 with special needs.
 .
 This package contains the headers and libraries needed to compile compiz
 plugins.

